
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <!---<title> Responsive Registration Form | CodingLab </title>--->
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="title">Registration</div>
      <div class="content">
        <form action="#" (ngSubmit)="OnSubmit()">
          <div class="user-details">
            <div class="input-box">
              <span class="details">First Name</span>
              <input
                type="text"
                placeholder="Enter your first name"
                name="FirstName"
                [(ngModel)]="FirstName"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Last Name</span>
              <input
                type="text"
                placeholder="Enter your last name"
                name="LastName"
                [(ngModel)]="LastName"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Email</span>
              <input
                type="text"
                placeholder="Enter your email"
                name="email"
                [(ngModel)]="email"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Phone Number</span>
              <input
                type="text"
                placeholder="Enter your number"
                name="phoneNumber"
                [(ngModel)]="phoneNumber"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Password</span>
              <input
                type="password"
                placeholder="Enter your password"
                name="password"
                [(ngModel)]="password"
                required
              />
            </div>
            <div class="input-box">
              <span class="details">Confirm Password</span>
              <input
                type="password"
                placeholder="Confirm your password"
                name="confirmPassword"
                [(ngModel)]="confirmPassword"
                required
              />
            </div>
          </div>
          <div class="gender-details">
            <input type="radio" name="type" id="dot-1" [(ngModel)]="type" value="company"/>
            <input type="radio" name="type" id="dot-2" [(ngModel)]="type" value="customer"/>
            <span class="gender-title">What type of user Are you?</span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="gender">Company</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="gender">Customer</span>
              </label>
            </div>
          </div>
          <div class="button">
            <input type="submit" value="Register" />
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
