#t{
    margin-top: 100px;
    margin-left: 20;
  }
  
  #ti{
    margin-right: 500px;
  }

  .reserve{
    margin-left: 800px;
    margin-top: 20px;
  }
  .dropdown-menu.show {
    background-color: #4285f4 !important;
  }