<nav
  class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="dropdown button-dropdown">
      <div ngbDropdown>
        <a class="dropdown-toggle" ngbDropdownToggle>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
          <span class="button-bar"></span>
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink='/examples/profile'><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-people-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
            />
            <path
              fill-rule="evenodd"
              d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"
            />
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
          </svg> profile</a>
          <a  routerLink='/index' class="dropdown-item" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg> Home Page</a>
          <a routerLink='/allcars'class="dropdown-item" href="#"><i class="fas fa-car"></i> List of Cars</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">One more separated link</a>
        </div>
      </div>
    </div>
    <div class="navbar-translate">
      <!-- ngbTooltip="Designed by Invision. Coded by Creative Tim" -->
      <a class="navbar-brand" routerLink="/index" placement="bottom">
        Billio Rich
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse"
      data-nav-image="assets/img/blurred-image-1.jpg"
      data-color="red"
    >
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="" target="_blank">
            <i class="now-ui-icons emoticons_satisfied"></i>
            <p>Feedbacks</p>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="" target="_blank">
            <i class="now-ui-icons clothes_tie-bow"></i>
            <p>Contact A Live Superior</p>
          </a>
        </li> -->
        <li  class="nav-item" *ngIf="!userService.loggedIn()">
          <button
            class="btn btn-primary btn-round"
            type="button"
            (click)="bClick()"
          >
            Login
          </button>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link btn btn-neutral" target="_blank">
            <i class="now-ui-icons arrows-1_share-66"></i>
            <i class="now-ui-icons objects_key-25"></i>
            <a [RouterLink]="['/signup']"  value="Sign Up" ></a>
            <p type="button" (click)="btnClick();">Sign Up</p>
          </a>
        </li> -->
        <li class="nav-item" *ngIf="!loggedIn">
          <button
            class="btn btn-primary btn-round"
            type="button"
            (click)="btnClick()"
          >
            <i class="now-ui-icons ui-2_favourite-28"></i>Sign Up
          </button>
        </li>
        <li class="nav-item" *ngIf="userService.loggedIn()">
          <button
            class="btn btn-primary btn-round"
            type="button"
            (click)="Logout()"
          >
            <i class="now-ui-icons ui-2_favourite-28"></i> Log Out
          </button>
        </li>
        <li class="nav-item">
          <a routerLink='/form' class="btn btn-primary btn-round" >
            <!-- <i class="now-ui-icons arrows-1_share-66"></i> -->

            <i class="now-ui-icons objects_key-25"></i>
            <p>Company</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink='/payment' class="btn btn-primary btn-round" >
            <!-- <i class="now-ui-icons arrows-1_share-66"></i> -->

            <i class="now-ui-icons objects_key-25"></i>
            <p>Payment</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Twitter"
            data-placement="bottom"
            href="https://twitter.com/CreativeTim"
            target="_blank"
          >
            <i class="fab fa-twitter"></i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Like us on Facebook"
            data-placement="bottom"
            href="https://www.facebook.com/CreativeTim"
            target="_blank"
          >
            <i class="fab fa-facebook-square"></i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            rel="tooltip"
            title="Follow us on Instagram"
            data-placement="bottom"
            href="https://www.instagram.com/CreativeTimOfficial"
            target="_blank"
          >
            <i class="fab fa-instagram"></i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
