/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

.bg-primary {
    background-color: rgb(61, 58, 58) !important;
}
.navbar.navbar-transparent{
    background-color: rgb(63, 62, 65) !important;
}

#find{
    background-color: rgb(86, 38, 134)

}
.footer{
    margin-bottom: 0px;
}
.btn-primary{
    background-color: rgb(86, 38, 134);
}